.scroll-stack-scroller {
  position: relative;
  width: 100%;
}

.scroll-stack-inner {
  padding: 0 0 30rem;
  min-height: 100vh;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  width: 100%;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}
